<ion-view title="Filtro">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <ion-toggle toggle-class="toggle-positive">Toggle</ion-toggle>
            <ion-radio>Feminino</ion-radio>
            <ion-radio>Masculino</ion-radio>
            <ion-item class="range range-positive">Preço
                <input type="range" value="50" min="0" max="9999">
            </ion-item>
            <label class="item item-select">
                <span class="input-label">Estado(UF)</span>
                <select></select>
            </label>
            <label class="item item-select">
                <span class="input-label">Cidade</span>
                <select></select>
            </label>
            <label class="item item-input">
                <span class="input-label">Idade</span>
                <input type="text" placeholder="">
            </label>
            <button id="filtro-button14" class="button button-assertive  button-block button-outline">Buscar</button>
        </form>
    </ion-content>
</ion-view>