<ion-view title="Torne-se Destaque">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider"><h2>ANUNCIANTE FREE</h2></div>
            <div class="item item-body">
                <h1>R$ 0,00 / mês</h1>
                <ion-list>
                    <ion-item>Perfil de Anunciante</ion-item>                    
                    <ion-item>Criar Conversas privadas</ion-item>
                    <ion-item>Galeria de Fotos para até 6 fotos</ion-item>
                </ion-list>
                <button id="torneSeDestaque-button4" class="button button-assertive  button-block button-outline">Grátis</button>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider"><h2>ANUNCIANTE PRO</h2></div>
            <div class="item item-body">
                <h1>R$ 29,90 / mês</h1>
                <ion-list>
                    <ion-item>Ganhe 300 pontos de fama</ion-item>
                    <ion-item>Todos os beneficios do anunciante Free</ion-item>                   
                    <ion-item>Criar Espaços</ion-item>
                    <ion-item>Galeria de Fotos para até 12 fotos</ion-item>
                </ion-list>
                <button id="torneSeDestaque-button2" class="button button-assertive  button-block button-outline">Comprar</button>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider"><h2>ANUNCIANTE VIPE</h2></div>
            <div class="item item-body">
                <h1>R$ 79,90 / mês</h1>
                <ion-list>
                    <ion-item>Todos os beneficios do anunciante Pro</ion-item>
                    <ion-item>Perfil de Anunciantes VIP</ion-item>
                    <ion-item>Galeria de Fotos para até 36 fotos</ion-item>
                    <ion-item>Adicionar videos</ion-item>
                    <ion-item>Destaque na area de Acompanhantes</ion-item>
                </ion-list>
                <button id="torneSeDestaque-button3" class="button button-assertive  button-block button-outline">Não Disponivel</button>
            </div>
        </div>
    </ion-content>
</ion-view>